{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Does the child know they have been referred into the NRM? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='pt-bridge-2' method='post'>
    
                <span class='govuk-caption-l'></span>

                {% set cond %}
                    {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                        
                    {{ govukCharacterCount({
                    name: 'moreDetail',
                        id: 'n7-1',
                        name: 'n7-1',
                        value: data['n7-1'],
                        maxlength: 15000,
                        label: {
                            text: 'Details',
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        },
                        hint: {
                            html: '<p>Tell us any concerns you have, including details of any planning or strategy meetings scheduled in the next two weeks (for example., Multi-Agency Safeguarding Hub (MASH) meetings) to discuss these.</p>'
                        }
                    }) }} 
                {% endset %}
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'n7',
                    name: 'n7',
                    value: data['n7'],
                    fieldset: {
                        legend: {
                            text: 'Are there any immediate safeguarding risks?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p><a href="#">Read more about safeguarding risks in the guidance. </a></p>'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: cond
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    },
                    {
                       value: "I don't know",
                        text: "I don't know"
                    }
                    ]
                }) }}
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}