{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Is the potential victim involved with the Criminal Justice System? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='42' method='post'>
    
                <span class='govuk-caption-l'></span>

                {% set cjsOptions %}
                    
                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'n3-options',
                    name: 'n3-options',
                    values: data['n3-options'],
                    fieldset: {
                        legend: {
                            text: 'In what capacity is the potential victim involved with the Criminal Justice System?',
                            classes: 'govuk-fieldset__legend--s',
                            isPageHeading: false
                        }
                    },
                    items: [
                    {
                       value: 'Witness',
                        text: 'Witness'
                    },
                    {
                       value: 'Victim',
                        text: 'Victim'
                    },
                    {
                       value: 'Arrested',
                        text: 'Arrested'
                    },
                    {
                       value: 'Charged',
                        text: 'Charged'
                    }
                    ]
                }) }}

                {% endset %}

    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'n3',
                    name: 'n3',
                    value: data['n3'],
                    fieldset: {
                        legend: {
                            text: 'Is the potential victim involved with the Criminal Justice System?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: cjsOptions
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    },
                    {
                       value: "I don't know",
                        text: "I don't know"
                    }
                    ]
                }) }}
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}