{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Does the child know they have been referred into the NRM? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='n7' method='post'>
    
                <span class='govuk-caption-l'></span>

                {% set cond %}
                    {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                        
                    {{ govukCharacterCount({
                    name: 'moreDetail',
                        id: 'n6-1',
                        name: 'n6-1',
                        value: data['n6-1'],
                        maxlength: 15000,
                        label: {
                            text: 'Details',
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        },
                        hint: {
                            html: '<p>Tell us any mental or physical health conditions that are particularly relevant to the exploitation.</p>'
                        }
                    }) }} 
                {% endset %}
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'n6',
                    name: 'n6',
                    value: data['n6'],
                    fieldset: {
                        legend: {
                            text: 'Does the child have any mental or physical health conditions?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p>You must include any diagnosed or undiagnosed special education needs or disabilities.</p>'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: cond
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}