{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        How was the potential victim treated during their exploitation? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='19' method='post'>
    
                <span class='govuk-caption-l'></span>
    
                <h1 class='govuk-heading-l'>How was the potential victim treated during their exploitation?</h1> 
    
                <p>As the potential victim has been in more than one exploitive situation, you should include all details from each exploitation in your answer.</p>
                {% from 'govuk/components/inset-text/macro.njk' import govukInsetText %}
                    
                {{ govukInsetText({
                  text: 'At the end of the service, you can add information you want to keep private, which will only be seen by the Competent Authority (CA) and the police.'
                }) }}

                
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}