gds={% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Who exploited the potential victim? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='35' method='post'>
    
                <span class='govuk-caption-l'></span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukCharacterCount({
                name: 'moreDetail',
                    id: '34',
                    name: '34',
                    value: data['34'],
                    maxlength: 15000,
                    label: {
                        text: 'Who exploited the potential victim?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>Tell us as much detail as you can about the exploiters and any relevant information that could help us identify who they are.</p>
                        <p>Include the languages the exploiters spoke, their gang or nicknames and if they had identifying features such as tattoos.</p>
                        <p>As the potential victim has been in more than one exploitive situation, you should include all details from each exploitation in your answer.</p>'
                    }
                }) }} 
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}