{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Were there any other potential victims? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='40' method='post'>
    
                <span class='govuk-caption-l'></span>

                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {% set cond %}
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukCharacterCount({
                name: 'moreDetail',
                    id: '39-1',
                    name: '39-1',
                    value: data['39-1'],
                    maxlength: 15000,
                    label: {
                        text: 'Provide more information (optional)',
                        classes: 'govuk-label--s',
                        isPageHeading: false
                    },
                    hint: {
                        html: '<p>If you know them, include any operation names or family members being reported at the same time.</p>'
                    }
                }) }} 
                {% endset -%}
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: '39',
                    name: '39',
                    value: data['39'],
                    fieldset: {
                        legend: {
                            text: 'Were there any other potential victims?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p>We don’t need names, but it will help police with their investigation if they know there were other potential victims.</p>
                        <p>If you know them, include any operation names or family members being reported at the same time.</p>'
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',                            
                        conditional: {
                            html: cond
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}