{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Why are there concerns about exploitation in the future? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='n3' method='post'>
    
                <span class='govuk-caption-l'></span>
    
                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukCharacterCount({
                name: 'moreDetail',
                    id: '41',
                    name: '41',
                    value: data['41'],
                    maxlength: 15000,
                    label: {
                        text: 'Why are there concerns about exploitation in the future?',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p><strong>Explain why there are concerns</strong><br>
                            If you have file-based evidence, this can be sent to us once the report is submitted</p>'
                    }
                }) }} 
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}