{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        If it is safe to contact the child's Figure of Parental Responsibility (FOPR)? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% set laName %}{% if (data['la'] == 'trust') %}Trust{% else %}Local authority{% endif %}{% endset %}
    {% set laType %}{% if (data['la'] == 'trust') %}trust{% else %}local authority{% endif %}{% endset %}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='n12' method='post'>
    
                <span class='govuk-caption-l'></span>

                {% set warning %}
                    {% from 'govuk/components/warning-text/macro.njk' import govukWarningText %}
                        
                    {{ govukWarningText({
                        text: 'Check that the details you provide are safe and could not potentially put the child in danger.',
                        iconFallbackText: 'Warning'
                    }) }}
                {% endset %}



                {% set cond %}
                    {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                        
                    {{ govukCharacterCount({
                    name: 'moreDetail',
                        id: 'n11-2',
                        name: 'n11-2',
                        value: data['n11-2'],
                        maxlength: 15000,
                        label: {
                            text: "What are your concerns with contacting the child's "+data['n9'],
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }} 
                {% endset %}
    
                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'n11',
                    name: 'n11',
                    value: data['n11'],
                    fieldset: {
                        legend: {
                            text: "Do you have any concerns about the support provider contacting the  "+data['n9']+"?",
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: warning
                    },
                    items: [
                    {
                       value: 'Yes',
                        text: 'Yes',
                        conditional: {
                            html: cond
                        }
                    },
                    {
                       value: 'No',
                        text: 'No'
                    }
                    ]
                }) }}
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}