{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Does the child have a Figure of Parental Responsibility (FOPR)? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    {% set laName %}{% if (data['la'] == 'trust') %}Trust{% else %}Local authority{% endif %}{% endset %}
    {% set laType %}{% if (data['la'] == 'trust') %}trust{% else %}local authority{% endif %}{% endset %}

    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='/route-v-3/n9' method='post'>
    
                <span class='govuk-caption-l'></span>

                {% set cond1 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-1',
                        name: 'n9-1',
                        value: data['n9-1'],
                        label: {
                            text: 'Full name of the parent',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond2 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-2',
                        name: 'n9-2',
                        value: data['n9-2'],
                        label: {
                            text: 'Full name of the legal guardian',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond3 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-3',
                        name: 'n9-3',
                        value: data['n9-3'],
                        label: {
                            text: 'Full name of the family member',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond4 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-4',
                        name: 'n9-4',
                        value: data['n9-4'],
                        label: {
                            text: 'Full name of the foster carer',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond5 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-5',
                        name: 'n9-5',
                        value: data['n9-5'],
                        label: {
                            text: 'Full name of the social worker',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond6 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-6',
                        name: 'n9-6',
                        value: data['n9-6'],
                        label: {
                            text: 'Full name of the supported accommodation of lodgings key worker',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond7 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-7',
                        name: 'n9-7',
                        value: data['n9-7'],
                        label: {
                            text: 'Full name of the '+laType,
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    
                {% set cond8 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n9-8',
                        name: 'n9-8',
                        value: data['n9-8'],
                        label: {
                            text: 'Full name of the prison or detention worker',
                            classes: 'govuk-label--xs',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}
    


                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'n9',
                    name: 'n9',
                    value: data['n9'],
                    fieldset: {
                        legend: {
                            text: "Who has parental responsibility for the child?",
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: '<p>Parental responsibility refers to having the legal rights, duties, powers, and obligations in relation to a child.</p>'
                    },                    items: [
                    {
                       value: 'parent',
                        text: 'Parent',
                        conditional: {
                            html: cond1
                        }
                    },
                    {
                       value: 'legal guardian',
                        text: 'Legal guardian',
                        conditional: {
                            html: cond2
                        }
                    },
                    {
                       value: 'family member',
                        text: 'Family member',
                        conditional: {
                            html: cond3
                        }
                    },
                    {
                       value: 'foster carer',
                        text: 'Foster carer',
                        conditional: {
                            html: cond4
                        }
                    },
                    {
                       value: 'social worker',
                        text: 'Social worker',
                        conditional: {
                            html: cond5
                        }
                    },
                    {
                       value: 'supported accommodation or lodgings key worker',
                        text: 'Supported accommodation or lodgings key worker',
                        conditional: {
                            html: cond6
                        }
                    },
                    {
                       value: laType,
                        text: laName+' ('+data['11-name']+')',
                        hint: {
                            html: 'You have already told us the name and details of the '+laType+', earlier in the form.'
                        }
                    },
                    {
                       value: 'prison or detention worker',
                        text: 'Prison or detention worker',
                        conditional: {
                            html: cond8
                        }
                    },
                    {
                       value: "I don't know",
                        text: "I don't know"
                    }
                    ]
                }) }}

               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}