{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Is the potential victim under 18? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='pt-end' method='post'>
    
                <span class='govuk-caption-l'></span>
  

                {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}
                    
                {{ govukCharacterCount({
                name: 'moreDetail',
                    id: '18-1',
                    name: '18-1',
                    value: data['18-1'],
                    maxlength: 15000,
                    label: {
                        text: 'Add information you want to keep private (optional)',
                        classes: 'govuk-label--l',
                        isPageHeading: true
                    },
                    hint: {
                        html: '<p>You can provide sensitive information related to the exploitation or the potential victim. This information will only be shared with the Competent Authority (CA) and the police.</p>'
                    }
                }) }} 
    
    
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}