{% extends "layouts/v1.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        <h1 class="govuk-heading-xl">
            Version 3
        </h1>

        <ul class='govuk-list govuk-list--bullet'>
            <li><a href="1">Service landing page</a></li>
            <li><a href="6">Logged in start</a></li>
            <li><a href="10">PV age</a></li>
            <li><a href="n4?route=child&10=yes">Case reporting (child path)</a></li>
            <li><a href="n9?route=child&10=yes">FOPR (child path)</a></li>
        </ul>
        {% from 'govuk/components/button/macro.njk' import govukButton %}
            


    </div>
</div>

{% endblock %}