{% extends 'layouts/v1.html' %}

{% block pageTitle %}
How were they exploited? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds-from-desktop'>
        <form action='38-3' method='post'>

            {% set other %}
            {% from 'govuk/components/textarea/macro.njk' import govukTextarea %}

            {{ govukCharacterCount({
            name: 'moreDetail',
            id: '38-other',
            name: '38-other',
            value: data['38-other'],
            maxlength: 15000,
            label: {
            text: 'Enter other type of exploitation:',
            classes: 'govuk-label--s',
            isPageHeading: false
            }
            }) }}
            {% endset %}

            <span class='govuk-caption-l'></span>

            {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
            {{ govukCheckboxes({
                id: '38-3',
                name: '38-3',
                values: data['38-3'],
                fieldset: {
                    legend: {
                        text: 'What are they being forced to do?',
                        classes: 'govuk-fieldset__legend--l',
                        isPageHeading: true
                    }
                },
                hint: {
                    html: 'Select all that apply'
                },
                items: [
                {
                   value: 'Forced work without pay',
                    text: 'Forced work without pay'
                },
                {
                   value: 'Wage withholding',
                    text: 'Wage withholding'
                },
                {
                   value: 'Forced excessive hours',
                    text: 'Forced excessive hours'
                },
                {
                   value: 'Drug cultivation',
                    text: 'Drug cultivation'
                },
                {
                   value: 'Drug dealing',
                    text: 'Drug dealing'
                },
                {
                   value: 'Fraud or scamming',
                    text: 'Fraud or scamming'
                },
                {
                   value: 'Theft or robbery',
                    text: 'Theft or robbery'
                },
                {
                   value: 'Cybercrime',
                    text: 'Cybercrime'
                },
                {
                   value: 'Counterfeit goods sales',
                    text: 'Counterfeit goods sales'
                },
                {
                   value: 'Forced prostitution',
                    text: 'Forced prostitution'
                },
                {
                   value: 'Online sexual exploitation',
                    text: 'Online sexual exploitation'
                },
                {
                   value: 'Sexual content creation',
                    text: 'Sexual content creation'
                },
                {
                   value: 'Benefit fraud',
                    text: 'Benefit fraud'
                },
                {
                   value: 'Money muling',
                    text: 'Money muling'
                },
                {
                   value: 'Forced begging',
                    text: 'Forced begging'
                },
                {
                   value: 'Organ harvesting',
                    text: 'Organ harvesting'
                },
                {
                   value: 'Blood harvesting',
                    text: 'Blood harvesting'
                },
                {
                   value: 'Egg harvesting',
                    text: 'Egg harvesting'
                },
                {
                   value: 'Forced pregnancy',
                    text: 'Forced pregnancy'
                }
                ]
            }) }}


            <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                {{ govukButton({
                text: 'Save and continue'
                }) }}
                {{ govukButton({
                href: '6',
                classes: 'govuk-button--secondary',
                text: 'Save and exit'
                }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}