{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Does the child know they have been referred into the NRM? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            <form action='pt-end' method='post'>
    
                <span class='govuk-caption-l'>{{data['pr']}}</span>

                {% set cond1 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n13-1',
                        name: 'n13-1',
                        value: data['n13-1'],
                        label: {
                            text: "What is the child's telephone number?",
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}

                {% set cond2 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n13-2',
                        name: 'n13-2',
                        value: data['n13-2'],
                        label: {
                            text: "What is the telephone number of the child's "+data['n9']+"?",
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}

                {% set cond3 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n13-3',
                        name: 'n13-3',
                        value: data['n13-3'],
                        label: {
                            text: "What is the telephone number of the Local Authority contact?",
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}

                {% set cond4 %}
                    {% from 'govuk/components/input/macro.njk' import govukInput %}
                    {{ govukInput({
                        id: 'n13-4-name',
                        name: 'n13-4-name',
                        value: data['n13-4-name'],
                        label: {
                            text: "Name of contact",
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }}
                    {{ govukInput({
                        id: 'n13-4-phone',
                        name: 'n13-4-phone',
                        value: data['n13-4-phone'],
                        label: {
                            text: "Their contact telephone number",
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }}
                    {{ govukInput({
                        id: 'n13-4-relationship',
                        name: 'n13-4-relationship',
                        value: data['n13-4-relationship'],
                        label: {
                            text: "Relationship to child",
                            classes: 'govuk-label--s',
                            isPageHeading: false
                        }
                    }) }}
                {% endset %}


                {% set warning %}
                    {% from 'govuk/components/warning-text/macro.njk' import govukWarningText %}
                        
                    {{ govukWarningText({
                        text: 'If you provide a telephone number, check that the details you provide are safe and could not potentially put the child in danger.',
                        iconFallbackText: 'Warning'
                    }) }}
                {% endset %}
    

                {% if (data['pr'] == "dont-know") %}
                <!-- doesn't know who has PR -->

                {% from 'govuk/components/radios/macro.njk' import govukRadios %}
                {{ govukRadios({
                    id: 'n13',
                    name: 'n13',
                    value: data['n13'],
                    fieldset: {
                        legend: {
                            text: 'How can the support provider safely contact the child?',
                            classes: 'govuk-fieldset__legend--l',
                            isPageHeading: true
                        }
                    },
                    hint: {
                        html: warning
                    },
                    items: [
                    {
                       value: 'Contact the child',
                        text: 'Contact the child',
                        conditional: {
                            html: cond1
                        }
                    },
                    {
                       value: "Contact the Local Authority ("+data['11-name']+")",
                        text: "Contact the Local Authority ("+data['11-name']+")",
                        conditional: {
                            html: cond3
                        }
                    },
                    {
                       value: 'Contact someone else',
                        text: 'Contact someone else',
                        conditional: {
                            html: cond4
                        }
                    }

                    ]
                }) }}

                {% else %}
                <fieldset class="govuk-fieldset" aria-describedby="n13-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                        How can the support provider safely contact the child?
                        </h1>

                    </legend>


                    <div id="n13-hint" class="govuk-hint">
                        <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            If you provide a telephone number, check that the details you provide are safe and could not potentially put the
                            child in danger.
                        </strong>
                        </div>
                    </div>


                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">







                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="n13" name="n13" type="radio" value="Contact the child"
                                aria-controls="conditional-n13" aria-expanded="false">
                            <label class="govuk-label govuk-radios__label" for="n13">
                                Contact the child
                            </label>

                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-n13">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="n13-1">
                                What is the child's telephone number?
                                </label>


                                <input class="govuk-input" id="n13-1" name="n13-1" type="text">

                            </div>
                        </div>






                        {% if (data['n11'] == 'No') %}

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="n13-2" name="n13" type="radio" value="Contact the child's {{data['n9']}}"
                                aria-controls="conditional-n13-2" aria-expanded="false">
                            <label class="govuk-label govuk-radios__label" for="n13-2">
                                Contact the child's {{data['n9']}}
                            </label>

                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-n13-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="n13-2">
                                What is the telephone number of the child's {{data['n9']}}?
                                </label>


                                <input class="govuk-input" id="n13-2" name="n13-2" type="text">

                            </div>
                        </div>

                        {% endif %}






                        {% if (data['n9'] != 'Local Authority') %}

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="n13-3" name="n13" type="radio"
                                value="Contact the Local Authority (Sheffield LA)" aria-controls="conditional-n13-3" aria-expanded="false">
                            <label class="govuk-label govuk-radios__label" for="n13-3">
                                Contact the Local Authority (Sheffield LA)
                            </label>

                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-n13-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="n13-3">
                                What is the telephone number of the Local Authority contact?
                                </label>


                                <input class="govuk-input" id="n13-3" name="n13-3" type="text">

                            </div>
                        </div>

                        {% endif %}







                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="n13-4" name="n13" type="radio" value="Contact someone else"
                                aria-controls="conditional-n13-4" aria-expanded="false">
                            <label class="govuk-label govuk-radios__label" for="n13-4">
                                Contact someone else
                            </label>

                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-n13-4">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="n13-4-name">
                                Name of contact
                                </label>


                                <input class="govuk-input" id="n13-4-name" name="n13-4-name" type="text">

                            </div>




                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="n13-4-phone">
                                Their contact telephone number
                                </label>


                                <input class="govuk-input" id="n13-4-phone" name="n13-4-phone" type="text">

                            </div>




                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="n13-4-relationship">
                                Relationship to child
                                </label>


                                <input class="govuk-input" id="n13-4-relationship" name="n13-4-relationship" type="text">

                            </div>

                        </div>




                    </div>

                </fieldset>

                {% endif %}
    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}