{% extends 'layouts/v1.html' %}
    
    {% block pageTitle %}
        Is the potential victim involved with the Criminal Justice System? – {{ serviceName }} – GOV.UK Prototype Kit
    {% endblock %}
    
    
    {% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds-from-desktop'>
            {% if (data['e2e'] == 'Yes') %}
            <form action='42' method='post'>
            {% else %}
            <form action='n4' method='post'>
            {% endif %}
    
                <span class='govuk-caption-l'></span>

                {% set cjsOther %}
                {% from 'govuk/components/input/macro.njk' import govukInput %}
                {{ govukInput({
                    id: 'n3-other',
                    name: 'n3-other',
                    value: data['n3-other'],
                    label: {
                        text: "Describe the potential victim's involvement with the Criminal Justice System",
                        classes: 'govuk-label--s',
                        isPageHeading: false
                    },
                    hint: {
                        html: 'Any information you enter will only be shared with the Single Competent Authority (SCA)'
                    }
                }) }}

                {% endset %}

                    
                <h1 class='govuk-heading-l'>Involvement with the Criminal Justice System</h1> 
                <p>We only need to know if this involvement is linked to the potential victim's exploitation. This information is collected for safeguarding purposes and is unrelated to the Reasonable Grounds (RG) or Conclusive Grounds (CG) decision.</p>

                {% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
                {{ govukCheckboxes({
                    id: 'n3',
                    name: 'n3',
                    values: data['n3'],
                    fieldset: {
                        legend: {
                            text: 'How is the potential victim involved with the Criminal Justice System?',
                            classes: 'govuk-fieldset__legend--m',
                            isPageHeading: false
                        }
                    },
                    hint: {
                        html: 'Select all that apply'
                    },
                    items: [
                    {
                       value: 'Victim',
                        text: 'Victim'
                    },
                    {
                       value: 'Witness',
                        text: 'Witness'
                    },
                    {
                       value: 'Arrested',
                        text: 'Arrested'
                    },
                    {
                       value: 'Charged',
                        text: 'Charged'
                    },
                    {
                       value: 'Reported',
                        text: 'Reported'
                    },
                    {
                       value: 'Other',
                        text: 'Other',
                        conditional: {
                            html: cjsOther
                        }
                    },
                    {
                        divider: "or"
                    },
                    {
                       value: "I don't know",
                        text: "I don't know",
                        behaviour: "exclusive"
                    },
                    {
                       value: "Not involved",
                        text: "Not involved",
                        behaviour: "exclusive"
                    }
                    ]
                }) }}


    
               <div class='govuk-button-group govuk-!-padding-top-3 govuk-!-padding-bottom-4'>
                    {{ govukButton({
                        text: 'Save and continue'
                    }) }}
                    {{ govukButton({
                        href: '6',
                        classes: 'govuk-button--secondary',
                        text: 'Save and exit'
                    }) }}
                </div>
            </form>
        </div>
    </div>
    {% endblock %}